{% load static %}
<head>
  <title>Details</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--===============================================================================================-->
  <link
    rel="icon"
    type="image/png"
    href="{% static 'subs/table/images/icons/favicon.ico' %}"
  />
  <!--===============================================================================================-->
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'subs/table/vendor/bootstrap/css/bootstrap.min.css' %}"
  />
  <!--===============================================================================================-->
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'subs/table/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}"
  />
  <!--===============================================================================================-->
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'subs/table/vendor/animate/animate.css' %}"
  />
  <!--===============================================================================================-->
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'subs/table/vendor/select2/select2.min.css' %}"
  />
  <!--===============================================================================================-->
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'subs/table/vendor/perfect-scrollbar/perfect-scrollbar.css' %}"
  />
  <!--===============================================================================================-->
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'subs/table/css/util.css' %}"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'subs/table/css/main.css' %}"
  />
  <!--===============================================================================================-->
  <!-- this is to make sure that the user enters a string before searching -->
  <script type="text/javascript">
    function validateForm() {
      var txt = document.getElementsByName("name")[0].value;
      if (txt == "") {
        alert("Please enter text to search for.");
        return false;
      }
    }
  </script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
</head>
<body>
  <div class="limiter">
    <div class="container-table100">
      <div class="wrap-table100">
        <div class="table100 ver1">
          <div class="wrap-table100">
            <div class="table100-nextcols">
              <table>
                <thead>
                  <tr class="row100 head">
                    <th class="cell100 column1">Name</th>
                    <th class="cell100 column2">CME Credits</th>
                    <th class="cell100 column3">cat-1</th>
                    <th class="cell100 column4">self</th>
                    <th class="cell100 column5">cat-2</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- show all existing entries here before the empty one below -->
                  {% for eo in user_board_entries %}
                  <tr class="row100 body">
                    <td class="cell100 column1">
                      {{ eo.board.name }}
                      <form method="POST" action="{% url 'del_board_entry' %}">
                        {% csrf_token %}
                        <button
                          type="submit"
                          name="entry_name"
                          value="{{ eo.board.name }}"
                          class="btn btn-primary"
                          style="
                            display: inline;
                            margin-left: 20px;
                            line-height: 0.5;
                          "
                        >
                          Delete
                        </button>
                      </form>
                    </td>
                    {% if eo.timeline_tag == '1' %}
                        <td class="cell100 column2">{{ eo.board.cycle_1_total_cme_req }}</td>
                        <td class="cell100 column3">{{ eo.board.cycle_1_cat_1_req }}</td>
                        <td class="cell100 column4">{{ eo.board.cycle_1_self_req }}</td>
                        <td class="cell100 column5">{{ eo.board.cycle_1_cat_2_req }}</td>
                    {% else %}
                        <td class="cell100 column2">{{ eo.board.cycle_2_total_cme_req }}</td>
                        <td class="cell100 column3">{{ eo.board.cycle_2_cat_1_req }}</td>
                        <td class="cell100 column4">{{ eo.board.cycle_2_self_req }}</td>
                        <td class="cell100 column5">{{ eo.board.cycle_2_cat_2_req }}</td>
                    {% endif %}
                  </tr>
                  {% endfor %}

                  <form method="POST" action="{% url 'boardstate' %}" >
                    {% csrf_token %}
                    <tr class="row100 body" >
                      <td class="cell100 column1" >
                        <select name="board_or_state" >
                          <option value="board">Board</option>
                          <option value="state">State</option>
                        </select>
                        <select name="name" >
                          {% for bn in board_info %}
                          <option>{{ bn }}</option>
                          {% endfor %}
                        </select>
                        <input type="date" name="first_reg">
                        <input type="date" name="last_reg">
                        <input
                          type="submit"
                          value="Add"
                          class="btn btn-primary"
                          style="margin-left: 20px; line-height: 0.5"
                        />
                      </td>
                    </tr>
                  </form>
                </tbody>
              </table>
              <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
              <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
              {% if is_graph %}

              <div id="container" style="width: 50%">
                <canvas
                  class="chart"
                  data-url="{% url 'chart' %}"
                  style="margin-top: 30px; margin-left: 50%"
                ></canvas>
              </div>

              <script>
                $(function () {
                  var $chart = $(".chart");
                  console.log('url is:', $chart.data("url"))
                  $.ajax({
                    url: $chart.data("url"),
                    success: function (data) {
                      console.log('yoo')
                      // console.log(data)
                      var ctx = $chart[0].getContext("2d");

                      new Chart(ctx, {
                        type: "doughnut",
                        data: {
                          labels: data.labels,
                          datasets: [
                            {
                              backgroundColor: [
                                "#f38b4a",
                                "#56d798",
                                "#ff8397",
                                "#6970d5",
                              ],
                              hoverBackgroundColor: [
                                "#f38b4a",
                                "#56d798",
                                "#ff8397",
                                "#6970d5",
                              ],
                              data: data.data,
                            },
                          ],
                        },
                        options: {
                          responsive: true,
                          cutoutPercentage: 70,
                          // legend: {
                          //   position: "left",
                          // },
                          title: {
                            text: "Your CME, Visualized",
                            fontSize: 32,
                            display: true,
                          },
                        },
                      });
                    },
                  });
                });
              </script>

              <br />
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--===============================================================================================-->
  <script src="{% static 'subs/table/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
  <!--===============================================================================================-->
  <script src="{% static 'subs/table/vendor/bootstrap/js/popper.js' %}"></script>
  <script src="{% static 'subs/table/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
  <!--===============================================================================================-->
  <script src="{% static 'subs/table/vendor/select2/select2.min.js' %}"></script>
  <!--===============================================================================================-->
  <script src="{% static 'subs/table/vendor/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
  <script>
    $(".js-pscroll").each(function () {
      var ps = new PerfectScrollbar(this);

      $(window).on("resize", function () {
        ps.update();
      });

      $(this).on("ps-x-reach-start", function () {
        $(this)
          .parent()
          .find(".table100-firstcol")
          .removeClass("shadow-table100-firstcol");
      });

      $(this).on("ps-scroll-x", function () {
        $(this)
          .parent()
          .find(".table100-firstcol")
          .addClass("shadow-table100-firstcol");
      });
    });
  </script>
  <!--===============================================================================================-->
  <script src="{% static 'subs/table/js/main.js' %}"></script>
</body>
