<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>MyConcert</title>
</head>

<body>
    <!-- form where user can create new JournalEntry objects by inputting:
    name, renewal date, subscription cost-->
    <div>

        <div style="width: 50%; text-align: center;">
            <form action="{% url 'subsmems' %}" method="post" style="text-align: center;">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit" class="btn btn-primary">
            </form>
        </div>

        <div style="width: 20%; float: right;">
            <h5>You are logged in as: {{ current_user_name }}</h5>
            <a href="{% url 'logout' %}">
                <input type="submit" value="Logout">
            </a>
        </div>


        <div style="width: 100%; padding-top: 50px;">
            <ul>
                <h4>
                    Your Journals:
                </h4>
                {% if user_journal_entries %}
                {% for entry in user_journal_entries %}
                
                <div class="jumbotron" style="
                    width: 95%; 
                    margin-top: 10px; 
                    margin-right: 10px;"
                    >
                    <h1 class="display-6">{{ entry.get_name_display }}</h1>
                    <p class="lead">Subscription Cost: {{ entry.sub_cost }}</p>
                    <hr class="my-4">
                    <p>Due for renewal on {{ entry.renewal_date }}</p>
                </div>
                {% endfor %}
                {% endif %}
            </ul>
        </div>


    </div>
</body>

</html>